body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  display: flex;
}

.cryStory {
  border: black solid 1px;
  width: fit-content;
  padding: 2em;
}